# Record Matching Task

In [2]:
import pandas as pd
import numpy as np

In [3]:
data1=pd.read_excel('Record Matching Data.xlsx', sheet_name='data1')
data1.head()

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

In [4]:
data2 = pd.read_excel('Record Matching Data.xlsx', sheet_name = 'data2')
data2.head()

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

#### 1. How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)

In [5]:
data1['concated_col'] = data1['Order ID']+'-'+data1['Product ID']
data1.head()

         Order ID       Product ID  Qty                    concated_col
0  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090-FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090-OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293-OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328-OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363-OFF-FA-10000611

In [6]:
data2['concated_col'] = data2['Order ID']+'-'+data2['Product ID']
data2.head()

         Order ID       Product ID  Qty                    concated_col
0  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090-FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090-OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293-OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328-OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363-OFF-FA-10000611

In [7]:
data3 = data1.merge(data2, on= ['concated_col'], how='left', indicator=True)
data3.head()

,Order ID_x,Product ID_x,Qty_x,concated_col,Order ID_y,Product ID_y,Qty_y,_merge
0,CA-2014-100090,FUR-TA-10003715,3,CA-2014-100090-FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,both
1,CA-2014-100090,OFF-BI-10001597,6,CA-2014-100090-OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,both
2,CA-2014-100293,OFF-PA-10000176,6,CA-2014-100293-OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,both
3,CA-2014-100328,OFF-BI-10000343,1,CA-2014-100328-OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,both
4,CA-2014-100363,OFF-FA-10000611,2,CA-2014-100363-OFF-FA-10000611,CA-2014-100363,OFF-FA-10000611,2.0,both

In [8]:
recs_in_data1_but_not_data2 = len(data3[data3['_merge']=='left_only'])

In [9]:
print('The total number of records present in data1 but missing in data2 are: ',recs_in_data1_but_not_data2)

The total number of records present in data1 but missing in data2 are:  506

#### 2.	How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [10]:
data4 = data1.merge(data2, on= ['concated_col'], how='right', indicator=True)
data4.head()

,Order ID_x,Product ID_x,Qty_x,concated_col,Order ID_y,Product ID_y,Qty_y,_merge
0,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090-FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3,both
1,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090-OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6,both
2,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293-OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6,both
3,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328-OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1,both
4,CA-2014-100363,OFF-FA-10000611,2.0,CA-2014-100363-OFF-FA-10000611,CA-2014-100363,OFF-FA-10000611,2,both

In [11]:
recs_in_data2_but_not_data1 =  len(data4[data4['_merge']=='right_only'])
recs_in_data2_but_not_data1

508

In [12]:
print('The total number of records missing in data1 but present in data2 are: ',recs_in_data2_but_not_data1)

The total number of records missing in data1 but present in data2 are:  508

#### 3.	Find the Sum of the total Qty of Records missing in data1 but present in data2

In [14]:
right_recs = data4[data4['_merge']=='right_only']
right_recs.head()

,Order ID_x,Product ID_x,Qty_x,concated_col,Order ID_y,Product ID_y,Qty_y,_merge
11,NaN,NaN,NaN,CA-2014-100706-TEC-AC-10001314,CA-2014-100706,TEC-AC-10001314,2,right_only
14,NaN,NaN,NaN,CA-2014-100762-OFF-PA-10001815,CA-2014-100762,OFF-PA-10001815,3,right_only
30,NaN,NaN,NaN,CA-2014-101427-OFF-AR-10002257,CA-2014-101427,OFF-AR-10002257,3,right_only
56,NaN,NaN,NaN,CA-2014-102652-FUR-FU-10001918,CA-2014-102652,FUR-FU-10001918,7,right_only
63,NaN,NaN,NaN,CA-2014-102869-OFF-PA-10000788,CA-2014-102869,OFF-PA-10000788,3,right_only

In [15]:
qty_total = right_recs['Qty_y'].sum()
qty_total

1956

In [16]:
print('The total sum of Quantity missing in data1 but present in data2 are: ',qty_total)

The total sum of Quantity missing in data1 but present in data2 are:  1956

#### 4. Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [17]:
data5 = data1.merge(data2, on =['Order ID','Product ID'],how='outer')

In [19]:
unique = data5.drop_duplicates()

In [20]:
uniqrecs = len(unique)
uniqrecs

9985

In [21]:
print('The total number of unique records present in combined dataset of data1 and data2 are: ',uniqrecs)

The total number of unique records present in combined dataset of data1 and data2 are:  9985